body {
  background-color: #f7f7f7;
}
.CDPNav .navbar {
  background-color: #ff8b00;
  margin: 0;
}
.CDPNav .navbar .CDPNav-er {
  padding: 0;
}
.CDPNav .navbar .CDPNav-er .headText {
  line-height: 50px;
  position: relative;
  margin: 0;
  width: 100%;
  text-align: center;
}
.CDPNav .navbar .CDPNav-er .headText .headArrows {
  margin: 0;
  position: absolute;
  left: 24px;
}
.CDPNav .navbar .CDPNav-er .headText .headArrows span {
  line-height: 50px;
  font-size: 28px;
}
.CDPNav .navbar .CDPNav-er .headText span {
  line-height: 50px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  color: #fff;
  width: 100%;
}
.gasNav {
  position: relative;
  background-color: #fff;
  font-size: 16px;
  padding: 0;
}
.gasNav .leftNav .on {
  display: inline-block;
  float: left;
  width: 29%;
  text-align: center;
}
.gasNav .leftNav .on .topNav {
  padding: 10px 0 10px;
}
.gasNav .leftNav .on .topNav span {
  font-size: 12px;
}
.gasNav .search {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 28px;
  font-weight: 100;
}
.gasNav .zhtai {
  display: none;
  position: relative;
  background-color: #f7f7f7;
  padding: 10px;
}
.gasNav .zhtai .src .sc_sp {
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 5;
  color: #ccc;
}
.gasNav .zhtai .src .sc_ipt input {
  padding-left: 24px;
}
.gasNav .zhtai .src .sc_ipt span {
  background-color: #f7f7f7;
  border: none;
}
.gasNav .list {
  display: none;
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 9px 21px -13px #333;
}
.gasNav .list ul {
  text-align: left;
  padding-left: 0;
}
.gasNav .list ul li {
  padding: 10px 10px 10px;
}
.gasNav .list ul .gasline {
  padding: 0;
  border-top: 1px solid #ccc;
}
.gasSP {
  padding-right: 15px;
  font-family: "微软雅黑";
}
.gasSP .splb {
  float: left;
  width: 50%;
  overflow: hidden;
  padding-top: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
.gasSP .splb .bj {
  position: relative;
  background-color: #fff;
  padding: 8px;
}
.gasSP .splb .bj .SPTop {
  padding-bottom: 5px;
}
.gasSP .splb .bj .SPTop img {
  width: 100%;
}
.gasSP .splb .bj .SPBottom {
  overflow: hidden;
}
.gasSP .splb .bj .SPBottom .bt {
  width: 1000%;
  font-size: 16px;
}
.gasSP .splb .bj .SPBottom .bb {
  padding-top: 5px;
}
.gasSP .splb .bj .SPBottom .bb .bbl {
  float: left;
  color: red;
  font-size: 22px;
}
.gasSP .splb .bj .SPBottom .bb .bbr {
  position: absolute;
  bottom: 3px;
  right: 8px;
  background-color: #ff9501;
  padding: 5px;
  border-radius: 3px;
  color: #f7f7f7;
}
.footer {
  margin-top: 10px;
  background-color: #eeeeee;
  overflow: hidden;
}
.footer .footertop a {
  width: 33%;
  display: block;
  float: left;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 16px;
  font-weight: 700;
}
.footer .footercenter {
  border-top: 1px solid #ccc;
  padding: 20px;
  height: 60px;
  text-align: center;
}
.footer .footercenter a:nth-of-type(1) {
  color: red;
}
.footer .footercenter a:nth-of-type(2) {
  color: #000;
}
