<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no'>
    <title>慢慢买首页</title>
    <link rel="stylesheet" href="./public/less/index.css">
    <link rel="stylesheet" href="./public/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="layout">
        <!-- 头部 -->
        <nav class="header navbar navbar-default" id="page_header">
            <div class="navbar-header pull-left index_logo">
                <a class="navbar-brand" href="#">
                    <img src="./public/images/header_logo.png" alt="">
                </a>
            </div>

            <div class="pull-right app_download">
                <a class="navbar-brand index_logo" href="#">
                    <img src="./public/images/header_app.png" alt="">
                </a>
            </div>
        </nav>

        <!-- 主体 -->
        <div class="main">
            <!-- 搜索框 -->
            <div class="container nav_search">
                <div class="input-group">
                    <input type="text" class="form-control search" placeholder="请输入你想比价的商品" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">搜索</span>
                </div>
            </div>
            <!-- 导航栏 -->
            <div class="navs">
                <div class="container-fluid menu_navs">

                </div>
            </div>
            <!-- 超值折扣推荐 -->
            <div class="discount_introduce">
                <div class="discount_introduce_title clearfix">
                    <p class="fl">超值折扣推荐</p>
                    <img class="fr" src="http://www.zuyushop.com/wap/images/more.png" width="20" height="20">
                </div>
                <div class="discount_introduce_content">

                </div>
            </div>
            <!-- 更多优惠信息 -->
            <a href="./moneyctrl.html" class="moreInfo">
                <button type="button" class="btn btn-default btn-lg btn-block">更多优惠信息 >></button>
            </a>
            <!-- 品牌排行 -->
            <a href="./brandTitle.html" class="brand_rank clearfix">
                <p class="fl">品牌排行</p>
                <img class="fr" src="http://www.zuyushop.com/wap/images/more.png" width="20" height="20">
            </a>
        </div>

        <!-- 页脚 -->
        <div class="footer">
            <ul class="clearfix">
                <li>
                    <a href='./login.html'>登录</a>
                </li>
                <li>
                    <a href='javascript:;'>注册</a>
                </li>
                <li class="back_to_top">
                    <a href='#'>
                        <img src="http://www.zuyushop.com/wap/images/top.jpg" alt="">返回顶部
                    </a>
                </li>
            </ul>
            <p class="footer_download">
                <a href='javascript:;' class='footer_appdownload'>手机APP下载</a>
                <a href='javascript:;'>慢慢买手机版</a>
                <span>-- 掌上比价平台</span>
            </p>
            <p class="footer_manmanbuy_site">m.manmanbuy.com。</p>
        </div>
    </div>
</body>

<!-- 导航栏模板 -->
<script type="text/template" id="nav_tpl">
    <div class="row">
        {{each result as v i}} {{if i<7}} 
        <div class="col-xs-3 navlist">
            <a href='./{{v.titlehref}}'>
                 {{#v.img}} 
                <p>{{v.name}}</p>
            </a>
    </div>
    {{/if}} {{/each}} {{each result as v i}} {{if i==7}}
    <a data-toggle="collapse" href="#collapseExample">
        <div class="col-xs-3 navlist">
            {{#v.img}}
            <p>{{v.name}}</p>
        </div>
    </a>
    {{/if}} {{/each}}

    <div class="collapse" id="collapseExample" aria-expanded="false">
        <div class="menu_well well">
            {{each result as v i}} {{if i>7}}
            <div class="col-xs-3 navlist">
                <a href='./{{v.titlehref}}'>
                        {{#v.img}}
                        <p>{{v.name}}</p>
                    </a>
            </div>
            {{/if}} {{/each}}
        </div>
    </div>

    </div>
</script>

<!-- 超值折扣推荐模板 -->
<script type="text/template" id='discount_tpl'>
    {{each result as v i}}
    <div class='media'>
        <div class="media-left">
            <a href="javascript:;">
                {{#v.productImgSm}}
            </a>
        </div>
        <div class="media-body">
            <a href='./moneyctrl_details.html?productId={{v.productId}}'>
                <h4 class="media-heading">{{v.productName}} <span>{{v.productPinkage}}</span></h4>
                <span>{{v.productFrom}} | {{v.productTime}}</span>
                <span class="comment fr glyphicon glyphicon-comment">{{v.productComCount}}</span>
            </a>
        </div>
    </div>
    {{/each}}
</script>

<script src="./public/assets/jquery/jquery.min.js"></script>
<script src="./public/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="./public/assets/artTemplate/template.js"></script>
<script src="./public/js/index.js"></script>

</html>