/* 初始化1：去掉默认的边距 */
body,
div,
span,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
form,
input,
img,
a,
select,
textarea,
button,
header,
aside,
article,
footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 初始化2：清除列表前的默认的点或序号 */
ul,
ol {
  list-style: none;
}
/* 初始化3：清除默认的边框 */
input {
  border: none;
  outline: none;
}
/* 初始化4：给页面设立一个统一的字体大小、类型、行高，以及body的背景色 */
body {
  background-color: #fff;
}
/* 初始化5： 设置a标签的字体颜色以及去掉下划线 */
a {
  color: inherit;
  display: block;
  text-decoration: none;
}
/* 初始化6:清除浮动的样式代码 */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfloat {
  zoom: 1;
  /*兼容ie低版本浏览器  */
}
/* 初始化7：设置浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
a:hover {
  text-decoration: none;
}
.coupon_top {
  background: #e4393c;
  text-align: center;
  width: 100%;
  height: 44px;
  color: #fff;
  position: relative;
  top: 0;
}
.coupon_top a {
  width: 50px;
  height: 44px;
  font-size: 25px;
  color: #fff;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
}
.coupon_top h2 {
  line-height: 44px;
  font-weight: bolder;
  font-size: 20px;
}
.coupon_top a:first-child {
  left: 0;
}
.coupon_top img {
  width: 60%;
}
.coupon_logo ul {
  margin: 10px 0;
  width: 100%;
}
.coupon_logo ul li {
  width: 30%;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc;
}
.coupon_logo ul li a {
  height: 80px;
  display: block;
}
.coupon_logo ul li a img {
  width: 50px;
  display: block;
  margin: 0 auto;
}
.coupon_logo ul li a p {
  text-align: center;
}
.couopon_nav {
  margin: 20px 0;
  height: 40px;
  width: 100%;
  background: linear-gradient(#fff, #ddd);
  text-indent: 2em;
  border: 1px solid #ccc;
  line-height: 40px;
}
.footer {
  text-align: center;
  background-color: #efefef;
  color: #5a5a5a;
}
.footer ul {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.footer ul li {
  padding: 10px 10px;
  width: 30%;
  float: left;
  border-right: 1px solid #c4c4c4;
}
.footer ul li a {
  color: #5a5a5a;
}
.footer ul .back_to_top {
  width: 40%;
  height: 40px;
}
.footer ul .back_to_top img {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 15px;
}
.footer .footer_download {
  text-align: center;
  margin-bottom: 0;
}
.footer .footer_download a {
  color: #5a5a5a;
  display: inline-block;
}
.footer .footer_download .footer_appdownload {
  color: red;
}
