/* 初始化1：去掉默认的边距 */
body,
div,
span,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
form,
input,
img,
a,
select,
textarea,
button,
header,
aside,
article,
footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 初始化2：清除列表前的默认的点或序号 */
ul,
ol {
  list-style: none;
}
/* 初始化3：清除默认的边框 */
input {
  border: none;
  outline: none;
}
/* 初始化4：给页面设立一个统一的字体大小、类型、行高，以及body的背景色 */
body {
  background-color: #fff;
}
/* 初始化5： 设置a标签的字体颜色以及去掉下划线 */
a {
  color: inherit;
  display: block;
  text-decoration: none;
}
/* 初始化6:清除浮动的样式代码 */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfloat {
  zoom: 1;
  /*兼容ie低版本浏览器  */
}
/* 初始化7：设置浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
a {
  text-decoration: none!important;
}
.lp_container {
  background-color: #f7f7f7;
}
.lowprice_nav {
  background: #e4393c;
  text-align: center;
  width: 100%;
  height: 44px;
  color: #fff;
  position: relative;
  top: 0;
}
.lowprice_nav a {
  width: 50px;
  height: 44px;
  font-size: 25px;
  color: #fff;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
}
.lowprice_nav h2 {
  line-height: 44px;
  font-weight: bolder;
  font-size: 20px;
}
.lowprice_nav a:first-child {
  left: 0;
}
.lowprice_tab {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.lowprice_tab #wrapper {
  width: 800px;
}
.lowprice_tab #wrapper ul li {
  float: left;
  height: 36px;
}
.lowprice_tab #wrapper ul li a {
  margin: 0 12px;
  line-height: 34px;
}
.lowprice_tab #wrapper ul li a.active {
  color: red;
  border-bottom: 2px solid red;
}
.lowprice_tab .lp_search_btn {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  text-align: center;
  line-height: 36px;
  top: 0;
  right: 0px;
  background-color: #fbfbfb;
  z-index: 9;
}
.lowprice_adv {
  margin: 10px 0;
}
.lowprice_adv img {
  height: 69px;
  width: 100%;
}
.lowprice_content .tab_main .product {
  background-color: #fff;
  margin-bottom: 10px;
  padding-left: 140px;
  position: relative;
}
.lowprice_content .tab_main .product .pro_img img {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 0;
}
.lowprice_content .tab_main .product .pro_desc {
  height: 130px;
}
.lowprice_content .tab_main .product .pro_desc .pro_price {
  color: red;
  font-size: 20px;
}
.lowprice_content .tab_main .product .pro_desc .pro_price i,
.lowprice_content .tab_main .product .pro_desc .pro_price em,
.lowprice_content .tab_main .product .pro_desc .pro_price del {
  font-size: 16px;
  margin-left: 5px;
}
.lowprice_content .tab_main .product .pro_desc .pro_price del {
  color: #ccc;
}
.lowprice_content .tab_main .product .pro_desc .pro_progress {
  width: 100%;
  position: relative;
  margin: 8px 0;
}
.lowprice_content .tab_main .product .pro_desc .pro_progress .progress {
  width: 30%;
  border-radius: 10px;
  float: left;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.5);
  height: 20px;
  margin: 0;
}
.lowprice_content .tab_main .product .pro_desc .pro_progress .progress .progress-bar {
  color: #fff;
  background-color: red;
}
.lowprice_content .tab_main .product .pro_desc .pro_progress .bar {
  float: left;
  color: red;
  margin-left: 10px;
}
.lowprice_content .tab_main .product .pro_desc .coupon {
  overflow: hidden;
}
.lowprice_content .tab_main .product .pro_desc .coupon a {
  border: 1px dotted red;
  float: left;
  width: 50%;
  margin-top: 10px;
}
.lowprice_content .tab_main .product .pro_desc .buy {
  float: right;
}
.lowprice_content .tab_main .product .pro_desc .buy a {
  display: block;
  width: 68px;
  height: 38px;
  background-color: #ff5e5d;
  text-align: center;
  line-height: 38px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}
.footer {
  text-align: center;
  color: #5a5a5a;
  background-color: #efefef;
}
.footer ul {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.footer ul li {
  padding: 10px 10px;
  width: 30%;
  float: left;
  border-right: 1px solid #c4c4c4;
}
.footer ul li a {
  color: #5a5a5a;
}
.footer ul .back_to_top {
  width: 40%;
  height: 40px;
}
.footer ul .back_to_top img {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 15px;
}
.footer .footer_download {
  text-align: center;
  margin-bottom: 0;
}
.footer .footer_download a {
  color: #5a5a5a;
  display: inline-block;
}
.footer .footer_download .footer_appdownload {
  color: red;
}
