body {
  padding: 0;
  margin: 0;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  background-color: #f4f6f8;
}
img {
  display: block;
  width: 100%;
}
a {
  display: inline-block;
  color: #000;
}
a:hover,
a:focus {
  text-decoration: none;
}
header .navbar-default {
  margin: 0;
  background-color: #ff841d;
}
header .navbar-default .pull-left i {
  font-size: 20px;
  color: white;
  font-weight: 700;
}
header .navbar-default h2 {
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: 700;
  margin-top: 15px;
}
header .navbar-default .app-donwload img {
  width: 34px;
  margin-top: 8px;
}
main {
  background-color: #fff;
}
main .content ul#commodity {
  padding-left: 0;
}
main .content ul#commodity li {
  width: 100%;
  height: 140px;
  padding: 10px 8px;
}
main .content ul#commodity li a {
  width: 100%;
  height: 100%;
}
main .content ul#commodity li a .pic {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 10px;
}
main .content ul#commodity li a .pic img {
  display: block;
  width: 120px;
  height: 120px;
}
main .content ul#commodity li a .info {
  margin-left: 130px;
}
main .content ul#commodity li a .info .title {
  height: 56px;
}
main .content ul#commodity li a .info .title span {
  color: red;
}
main .content ul#commodity li a .info .commend {
  height: 21px;
  color: #bbb;
  margin: 20px 0;
}
main .content ul#commodity li a .info .commend span {
  font-size: 12px;
}
main .content ul#commodity li a .info .commend span:nth-child(1) {
  float: left;
}
main .content ul#commodity li a .info .commend span:nth-child(2) {
  float: right;
}
.changePage {
  padding: 15px 0;
  background-color: #f2f2f2;
}
.changePage .row div {
  text-align: center;
}
.changePage .row div button {
  background-color: #e5e5e5;
}
.changePage .row div:nth-child(2) select {
  width: 120px;
  height: 30px;
}
.footer {
  text-align: center;
  color: #5a5a5a;
  background-color: #efefef;
}
.footer .homepage {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: linear-gradient(#fff, #ddd);
  border-bottom: 1px solid #ccc ;
  margin: 20px 0 ;
  text-align: left;
  padding-left: 10px;
}
.footer ul {
  list-style: none;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.footer ul li {
  padding: 10px 10px;
  width: 30%;
  float: left;
  border-right: 1px solid #c4c4c4;
}
.footer ul li img {
  display: inline-block;
}
.footer ul li a {
  color: #5a5a5a;
}
.footer ul .back_to_top {
  width: 40%;
  height: 40px;
}
.footer ul .back_to_top img {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 15px;
}
.footer .footer_download {
  text-align: center;
  margin-bottom: 0;
}
.footer .footer_download a {
  color: #5a5a5a;
  display: inline-block;
}
.footer .footer_download .footer_appdownload {
  color: red;
}
