/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border: none;
    padding: 0;
    margin: 0;
    /*在低版本的ie浏览器里面不支持*/
    outline-style: none;
}

ul,
ol {
    /*去掉li前面的圆点或者序号*/
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    /*这个字体是根据项目的要求设置的不是固定的*/
    font-family: "SimSun", "宋体";
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}
/*禁止手动修改大小*/
textarea {
    resize: none;
}
/*去掉图片底部默认空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}
/*合并外连线*/
/*这个一般是没有的，因为在现在的页面中，表格几乎不用了*/
table {
    /*表格的单元格边框默认是不会重合的，这个属性可以让表格的边框重合在一起，看起来更加细一些*/
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*unitedCode的写法，宋体的写法*/
    color: #666;
    background: #fff;
}
/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}


/*公共类*/
.w {
    /*版心*/
    width: 1190px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}
.pr {
    position: relative;
}
.pa {
    position: absolute;
}

.hide {
    display: none;
}
.col-red {
    color: #F10215 !important;
}

/*css初始化完成*/

/*字体图标*/
/*第一步：声明字体*/
@font-face {
    /*以前是用来设置字体的，现在不是设置，而是定义一个新的字体*/
    font-family: 'myfont';/*可以自定义一个新的字体图标*/
    /*以下四个字体文件，是都需要放到项目目录下的*/
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
/*第二部：定义调用字体的calss*/
.myiconfont{
    /*保证font-family属性之后的字体和上面定义的字体名称一致*/
    font-family:"myfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}