.views header {
  width: 100%;
  height: 50px;
  background-color: #ff841d;
}
.views header .logo {
  padding: 12px;
}
.views header .logo img {
  max-height: 25px;
}
.views header .app-download {
  padding: 7px;
}
.views header .app-download img {
  max-height: 34px;
}
.views .searchBox {
  width: 100%;
  height: 50px;
  padding: 10px;
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
.views .searchBox input {
  padding: 0;
  width: 90%;
  height: 30px;
  line-height: 30px;
  display: block;
  border: none;
  padding-left: 20px;
  border-radius: 15px;
  background-color: #f1f1f1;
  position: absolute;
}
.views .searchBox .search_btn {
  width: 66px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ff841d;
  border-radius: 15px;
  color: #fff;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
#content .info_top ul {
  background-color: #ccc;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
#content .info_top ul li {
  float: left;
  font-size: 14px;
}
#content img {
  width: 10%;
}
#content .nav_tab .nav {
  border: none;
}
#content .nav_tab .nav .active a {
  color: red;
}
#content .nav_tab .nav a {
  border: none;
}
#content .tab_panes .tab-content img {
  float: left;
  width: 120px;
  height: 120px;
}
#content .tab_panes .tab-content .left_img {
  padding-left: 20px;
}
#content .tab_panes .tab-content .tab_info {
  margin-left: 170px;
}
#content .tab_panes .tab-content .tab_info .current_info {
  font-size: 16px;
  padding: 5px;
}
#content .tab_panes .tab-content .tab_info .current_price {
  color: red;
  font-size: 17px;
  padding: 3px;
}
#content .tab_panes .tab-content .tab_info .other_price {
  margin-top: 5px;
  font-size: 12px;
  color: #ccc;
}
#content .tab_panes .tab-content .tab_info .other_price .right {
  float: right;
}
#content #list_page {
  background-color: #f2f2f2;
  margin-top: 20px;
}
#content #list_page .list_btn li {
  float: left;
  width: 33.33%;
}
#content #list_page .list_btn button,
#content #list_page .list_btn select {
  display: block;
  width: 70%;
  padding: 7px;
  margin: 0 auto;
}
#content #list_page .list_href {
  margin-left: 10px;
}
#content #list_page .list_href p {
  font-size: 16px;
}
#content #list_page .list_href span {
  font-size: 12px;
  color: #000;
}
#content #list_page .foot_bar {
  width: 100%;
  height: 34px;
  line-height: 34px;
  margin-top: 10px;
  text-align: center;
}
#content #list_page .foot_bar ul {
  background-color: #efefef;
}
#content #list_page .foot_bar ul li {
  float: left;
  width: 33.33%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#content #list_page .foot_bar ul li + li {
  border-left: 1px solid #ccc;
}
#content #list_page .foot_bar ul li .icon-top {
  font-size: 15px;
}
#content #list_page footer {
  width: 100%;
  text-align: center;
  color: #5a5a5a;
  font-size: 12px;
  padding: 15px 0;
}
#content #list_page footer .foot_top a {
  display: inline-block;
}
#content #list_page footer .foot_top a:nth-of-type(1) {
  color: red;
}
