body{
    font-size: 14px;
}

.all {
    position: relative;
    // APP绝对定位
    a.fix{
        position: fixed;
        right: 0;
        bottom: 30px;
        img{
            width: 60px;
        }
    }
    // 头部
    header {
        background: #ff841d;
        h1 {
            text-align: center;
            padding: 12px 10px;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
        }
        .get_back {
            float: left;
            color: #fff;
            font-size: 20px;
        }
        .dowapp {
            float: right;
            margin-top: -5px;
            width: 32px;
            img {
                width: 100%;
            }
        }
    }
// 内容
    .main{
       
        .navs{
            background: #fff;
             padding: 5px 30px;
            li{
                float: left;
                padding: 10px 8px;
                background: #f4f4f4;
                border: 1px solid #bfbfbf;
                font-size: 14px;
                margin: 5px;
                a{
                     color: #000;
                }
               
            }
        }
    }



    // 页面位置
    .fertop {
        padding: 6px 0 6px 6px;
        color: #000;
    } 
    // 底部
    footer {
        color: #000;
        p {
            height: 30px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        } 
        // 登录 注册
        .logins {
            button {
                background: none;
                width: 30%;
                padding: 5px 0;
            }
            button+button {
                border-left: 1px solid #ccc;
            }
            button:nth-child(3) {
                width: 36%;
                a {
                    text-decoration: none;
                    color: #000;
                    span {
                        color: #aaa;
                    }
                }
            }
        } 
        // 详情
        .brief {
            text-align: center;
            padding: 10px 0;
            font-size: 13px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            span:nth-child(1) {
                color: #fd4343;
            }
            span:nth-child(3) {
                color: #727272;
            }
            p {
                color: #77667f;
                border: none;
                padding: 5px 0;
            }
        }
    }
}