/*
  author:kuanglq
  date:2017-7-18
*/

/*初始化*/
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style:none;
}
a{
  text-decoration: none;
  color:#000;
}
a:hover {
  color: #000;
  text-decoration: none;
}

input,select,option,textarea{
  outline: none;
  }

.clearfix:before, .clearfix:after {
  /*清除浮动，最好最标准的写法*/
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
}

/* 头部样式 */
header{
    position: relative;
}
header{
  h1{
  background: #ff841d;
  height: 44px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 44px;
  color: white;
  text-align: center;
  font-size: 20px;
}
} 

header{
  a{
   position:absolute;
   top:0; 
}
} 
header{
  .head_change {
    font-size: 24px;
    width: 56px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
}
} 

header {
  .head_app{
    width: 56px;
    height: 44px;
    padding-left: 10px;
    padding-top: 5px;
    background:url("../image/init-imgs/header_app.png") no-repeat;
    background-size: 34px;
    right: 0;
    background-origin: content-box;
}
}

/* 商品导航栏部分 */
.gsshopnav-filter{
  box-sizing: border-box;
  border-bottom:1px solid #ccc;
  height:37px;
  width:100%;
  position: relative;
  
  line-height: 37px;
  .left-tab{
    margin-right:50px;
    padding-left:10px;
    >div{
      height:37px;
      text-align: center;
      padding:0px 0px 0px 0px;
      overflow: hidden;
        font-size: 16px;
        color:#5a5a5a;
        position: relative;
        >.glyphicon{
          font-size: 10px;
          color:#5a5a5a;
          margin-left: 3px; 
        }
        >.glyphicon-triangle-top{
          position:absolute;
          top: 2px;
          right: 1px;
          display: none;
        }
    }
  }

  .right-search{
    box-sizing: border-box;
    border-left:1px solid #ccc;
    width:50px;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    >.icon-sousuomulu{
      display: block;
      width:100%;
      height:100%;
      font-size: 24px;
      color:#5a5a5a;
      position: absolute;
      left: 15px;
    }
    >.icon-cha{
      font-size: 20px;
      position:absolute;
      top:0;
      left: 15px;
      display:none;
    }
  }

}

/*
  各种下拉之商店
*/
  #nav_sort{
    position: absolute;
    z-index: 999;
    display: block;
    width:100%;
    top: 38px;
    left:0;
    background: #fff;
    margin-bottom: 0px;
    // display:none;
    >li{
      height:40px;
      width:100%;
      border-bottom: 1px solid #dadada;
      >a{
        display: block;
        height:40px;
        line-height: 40px;
        width:100%;
        padding:0 10px;
        color:#5a5a5a;
      }
    }
  }

/* 各种下拉之区域 */
#nav_place{
  position: absolute;
  z-index: 999;
  display: block;
  width:100%;
  top: 38px;
  left:0;
  background: #fff;
  margin-bottom: 0px;
  // display:none;
    li{
      height:40px;
      width:100%;
      border-bottom: 1px solid #dadada;
      >a{
        display: block;
        height:40px;
        line-height: 40px;
        width:100%;
        padding:0 10px;
        color:#5a5a5a;
      }
    }
  }


/* 各种下拉之价格 */


  // .nav-main{
  //   display: none;
  // }
  .showdiv{
    display: block;
  }


.nav-cat{
    position: absolute;
    z-index: 999;
    display: block;
    display: none;
    width:100%;
    top: 38px;
    left:0;
    background: #fff;
    margin-bottom: 0px;
    li{
      height:40px;
      width:100%;
      border-bottom: 1px solid #ccc;
      >a{
        display: block;
        height:40px;
        line-height: 40px;
        width:100%;
        padding:0 10px;
        color:#5a5a5a;
      }
    }
  }


/* 各种下拉之 搜索框 */
.navsearch{
  width:100%;
  display:none;
  background-color: #f7f7f7;
  .sreach{
     padding: 10px 10px;
    .inptext{
      outline-style: none;
      border-radius: 0;
    }
    .input-group-addon{
      border-radius: 0;
      background-color:rgba(0,0,0,0); 
      border: none; 
      font-size: 16px;
      padding: 6px 3px;
    }
  }

  .paixu{
    margin-top:20px;
    font-size: 14px;
    border-bottom:1px solid #ccc;
    .t{
      padding-left:10px;
    }
    .c{
      padding:10px;
      >ul{
        box-sizing: border-box;
        padding:0 10px;
        width:100%;
        li{
          width:25%;
          border:1px solid #ccc;
          height:30px;
          text-align: center;
          border-radius: 3px;
          line-height: 30px;
          padding:0px 0px;
          +li{
            margin-left:3px;
          }
          >a{
            display: inline-block;
            width:100%;
            height:30px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .fenlei{
    margin-top:20px;
    font-size: 14px;
    .t{
      padding-left:10px;
    }
    .c{
      padding:10px;
      >ul{
        box-sizing: border-box;
        padding:0 10px;
        width:100%;
        li{
          border:1px solid #ccc;
          height:30px;
          text-align: center;
          border-radius: 3px;
          line-height: 30px;
          padding:0px 0px;
          +li{
            margin-left:3px;  
          }
          >a{
            display: inline-block;
            width:100%;
            height:30px;
            line-height: 30px;
          }
        }
      }
    }
  }

}


/* 商品展示部分 */
.gsshopnav-show {
  background-color: #f1f1f1;
  padding: 5px 6px;
  >ul{
    >li{
      padding-right: 5px;
      padding-left: 5px;
      margin:5px 0px;
      >a{
        background-color:#fff;
        display: block;
        height:100%;
        >img{
          width:100%;
        }
        .show-title{
          color: #333;
          word-break: break-all;
          padding: 0 6px;
          height: 14px;
          overflow: hidden;
          font-size: 12px;
          margin-top: 10px;
          line-height: 14px;
          text-align: left;
          margin-top: 6px;
        }
        >p{
          color: #f8601d;
          margin-bottom:0;
          padding:5px;
          >.price{
            font-size: 20px;
          }
        }
    }
  }
}

}