.save_btn .save_button_btn {
  background: #ebebeb;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.save_btn .save_button_btn .btn {
  padding: 5px 15px ;
  background: #ccc;
  border: 1px solid #a1a1a1;
}
.save_btn .save_button_btn select {
  margin: 0 auto;
  height: 33px;
  width: 70px;
}
