#head {
  background-color: #ff841d;
}
#head .headLogo {
  position: relative;
}
#head .headLogo > a {
  display: block;
  height: .9rem;
  line-height: .69rem;
  padding: 0 .2rem;
}
#head .headLogo > a img {
  height: .6rem;
}
#head .headApp {
  position: absolute;
  line-height: 0;
  top: 0;
  right: 0;
}
#head .headApp img {
  height: .3rem;
}
.container {
  padding: .12rem;
  padding-top: .18rem;
}
.container .sreach input {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  width: 107% !important;
  background-color: #f1f1f1;
  height: .5rem;
}
.container .sreach span {
  border-radius: .4rem !important;
  position: relative;
  z-index: 4;
  background-color: #ff841d;
  color: #fff;
  line-height: .12rem;
}
.line {
  height: .1rem;
  background-color: #f1f1f1;
}
#menu .row {
  padding: 0 .14rem;
}
#menu .row > li {
  padding: 0 .05rem .1rem;
  text-align: center;
}
#menu .row > li a {
  line-height: 0;
}
#menu .row > li a img {
  width: .8rem;
}
#menu .row > li a p {
  font-size: .26rem;
  line-height: .3rem;
  margin: 0;
}
#menu .row > li a:hover {
  color: inherit;
}
#menu .row li:nth-last-child(-n+4) {
  display: none;
}
#recommen .recommen_title {
  height: .60rem;
  background-color: #ff841d;
  padding: 0 .1rem;
  position: relative;
}
#recommen .recommen_title h4 {
  font-size: .3rem;
  color: #fff;
  margin: 0;
  line-height: .6rem;
}
#recommen .recommen_title i {
  position: absolute;
  top: 50%;
  right: .15rem;
  color: #fff;
  border: .01rem solid #fff;
  width: .3rem;
  height: .3rem;
  text-align: center;
  line-height: .3rem;
  border-radius: 50%;
  transform: translateY(-50%);
  font-size: .14rem;
}
#recommen .recommen_content .media {
  margin: 0;
  border-bottom: .01rem solid #ccc;
  padding: .2rem;
}
#recommen .recommen_content .media .media-left a > img {
  width: 1.8rem;
  font-size: .1rem;
}
#recommen .recommen_content .media .media-body h5 {
  height: 1.2rem;
}
#recommen .recommen_content .media .media-body h5 span {
  color: red;
}
#recommen .recommen_content .media .media-body p {
  line-height: .16rem;
  font-size: .14rem;
}
#recommen .recommen_content .media .media-body p span {
  float: right;
}
#recommen .recommen-more {
  font-size: .14rem;
  padding: .1rem;
}
#recommen .recommen-more a {
  color: #000;
}
#recommen .recommen-more a button {
  outline: none;
  width: 100%;
  line-height: .5rem;
  border: 0;
}
#footer {
  background-color: #f1f1f1;
  font-size: .24rem;
  text-align: center;
  padding-top: .4rem;
}
#footer ul {
  height: 100%;
  text-align: center;
}
#footer ul li {
  border-top: .01rem solid #ccc;
  border-bottom: .01rem solid #ccc;
}
#footer ul li a {
  display: block;
  padding: .12rem 0;
}
#footer ul li:nth-of-type(2) {
  border-left: .01rem solid #ccc;
  border-right: .01rem solid #ccc;
}
#footer > p > a:first-of-type {
  color: red;
}
