/*    author:郑伟雄
      data:2017/7/19;
*/
// 头部 
header{
    width:100%;
    h1{
        width:100%;
        border-bottom:1px solid  #e6e6e6 ;
        background-color: #ff841d;
        height:50px;
        padding-top: 13px;
        position: relative;
        padding-left:25px;
        margin-top: 0;
        a{  
            display: block;
            height: 100%;
            width:100%;
            background:url('../../../../images/header_logo.png')  no-repeat 0  0  ;
            background-size: 185.5px ;
        }
        span{
            height: 34px;
            width:34px;
            position: absolute;
            background:url('../../../../images/header_app.png')  no-repeat 0  0  ;
             background-size: 34px ;
            top:10px;
            right:10px;
        }
    }

    .search{
        .input-group{
            width: 100%;
            padding: 10px;
            position: relative;
            background-color: #fff;
            input{
                border-radius: 50px;
                width: 94%;
                font-size: 12px;
                background-color: #f6f6f6;
                outline-color: none;
                border-color: none;
                border: none;
                outline: none;
            }
            span{
                width: 63px;
                border-radius: 30px;
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 999;
                height: 34px;
                background-color: #ff841d;
                font-size: 16px;
                color: #fff;
                line-height: 19px;
            }
        }
    }
}


//主体部分
.main{
   .explain{
        background-color: #f2f2f2;
        overflow: hidden;
        .branName{
           h3{
            font-size: 18px;
            font-family: '微软雅黑';
            font-weight: 700;
            color:#000;
            padding-left: 10px;
            margin:10px;
           }
        }
       
        p{
            background-color: #fff;
            margin:0  5px;
            padding:10px;
        }
        .hotSales{
            background-color: #f7f7f7;
            height: 36px;
            line-height: 36px;
            margin:10px;
            color:#888;
        }
   }

   .nav{
       li{
           float:left;
           width:25%;
           a{
               display: block;
               text-align: center;
               line-height: 23px;
               height: 40px;
               font-size: 14px;
           }
       }
       li:first-of-type{
           a{
               color:red;
           }
       }
   }
   .show{
       border-top:1px solid #ccc;
        
       ul{
           list-style: none;
           padding-left:0;
           margin-top: 0;
           li{
               height: 140px;
               border-bottom: 1px solid #ccc;
               padding:30px 10px;
               position: relative;
                  .show_left{
                    img{
                        width:120px;
                        height:120px;
                        position: absolute;
                        left: 0;
                        top:0;
                    }
                  }
                    .price{
                        position: absolute;
                        font-size: 18px;
                        font-weight: bold;
                        color:red;
                        left:140px;
                        top:70px;
                    }
                      .title{
                          font-size: 16px;
                          position: absolute;
                          left:140px;
                          top: 28px;
                        
                      }
                      span{
                          position: absolute;
                          font-size: 12px;
                          left: 140px;
                          bottom: 20px;
                          color:#ccc;
                      }
                      i{
                          position: absolute;
                          right:0;
                          top:80px;
                          color:#ccc;
                      }
           }       
   }
}
}
//底部
 .footer {
  background: #f2f2f2;
  overflow: hidden;
}
 .footer .more-info {
  padding: 8px;
  text-align: center;
  background: #fff;
  width: 96%;
  margin: 10px 10px;
  border-radius: 5px;
}
 .footer .more-info a {
  color: #000;
}
 .footer .brand-reco {
  height: 35px;
  background: #ff841d;
  padding: 0 10px;
}
 .footer .brand-reco h3 {
  float: left;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
 .footer .brand-reco a {
  float: right;
  line-height: 35px;
}
 .footer .brand-reco a img {
  width: 20px;
}
 .footer .tool ul {
  list-style: none;
  margin: 10px 0px;
}
 .footer .tool ul li {
  width: 33.3%;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px;
}
 .footer .tool .mmurl {
  text-align: center;
}
 .footer .tool .mmurl span {
  color: red;
}