@import "../base.css";
#views {
    min-width: 210px;
    position: relative;
    background-color: #fff;
    margin-bottom: 54px;
}

#views a:hover {
    color: #666 !important;
}

#views>#header {
    width: 100%;
    height: 44px;
    background: #ff841d;
    line-height: 44px;
    overflow: hidden;
}

#views>#header>.icon_back {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;
}

#views>#header>.icon_back>i {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 22px;
    height: 22px;
    color: #fff;
    font-size: 22px;
    transform: translateY(-50%);
}

#views>#header>h1 {
    height: 44px;
    line-height: 44px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0px 90px;
}

#views>#header>.icon_app {
    width: 44px;
    height: 44px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 10px;
}

#views>#header>.icon_app img {
    height: 34px;
    width: 34px;
}

#views .containers #pro_center #main .title {
    padding: 0px 10px;
}

#views .containers #pro_center #main .title h3 {
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    padding: 20px 0px 10px 0px;
}

#views .containers #pro_center #main .title h4 {
    margin-bottom: 14px;
    color: #ff6c00;
    font-weight: 600;
    font-size: 14px;
}

#views .containers #pro_center #main .title .info {
    font-size: 12px;
    padding-bottom: 15px;
    color: #999999;
}

#views .containers #pro_center #main .title .info span:last-child {
    color: #7684ce;
}

#views .containers #pro_center #main .explain {
    padding: 0px 10px;
}

#views .containers #pro_center #main .explain .small_img {
    width: 120px;
    height: 120px;
    float: right;
    position: relative;
    top: 8px;
}

#views .containers #pro_center #main .explain .small_img img {
    width: 100%;
    height: 100%;
}

#views .containers #pro_center #main .explain p {
    word-break: break-all;
    font-size: 16px;
    margin: 4px auto;
    line-height: 24px;
}

#views .containers #pro_center #main .explain>p:nth-of-type(3) {
    padding: 20px;
}

#views .containers #pro_center #main .explain>p:nth-of-type(4) {
    font-size: 14px;
}

#views .containers #pro_center #main .explain>p:nth-of-type(4) a {
    color: #7684ce;
}

#views .containers #pro_center #main .explain .big_img {
    padding: 30px 0px;
    text-align: center;
}

#views .containers #pro_center #main .explain .big_img img {
    max-width: 100%;
    height: auto;
}

#views .containers #pro_center #main .explain .Btn {
    margin: 30px 4px;
}

#views .containers #pro_center #main .explain .Btn a {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #ff9000;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

#views .containers #pro_center #main .explain .Btn a:hover {
    color: #fff !important;
    text-decoration: none;
}

#views .containers #pro_center #main .explain .Btn a i {
    margin-right: 3px;
}

#views .containers #pro_center #main .explain .supply {
    text-align: center;
}

#views .containers #pro_center #main .comment {
    border-top: 2px solid #ddd;
    padding: 0px 10px;
}

#views .containers #pro_center #main .comment h4 {
    color: #000;
    margin-top: 6px;
}

#views .containers #pro_center #main .comment .compile {
    width: 100%;
    position: relative;
}

#views .containers #pro_center #main .comment .compile textarea {
    width: 100%;
    height: 100px;
    border: 2px solid #ddd;
    border-radius: 2px;
    margin: 10px 0px;
    outline: none;
}

#views .containers #pro_center #main .comment .compile .publish {
    width: 100%;
    height: 40px;
    background-color: #fbfbfb;
    border: 2px solid #ddd;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#views .containers #pro_center #main .comment .compile .publish a {
    float: right;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #ff9000;
    font-size: 16px;
}

#views .containers #pro_center #main .comment .compile .publish a:hover {
    text-decoration: none;
    color: #fff !important;
}

#views .containers #pro_center #main .comment p:nth-of-type(1) {
    margin-top: 8px;
}

#views .containers #pro_center #main .comment p:nth-of-type(2) {
    margin: 8px 0px;
}

#views .containers #pro_center #main .comment .media {
    padding: 14px 4px;
}

#views .containers #pro_center #main .comment .media .media-left a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

#views .containers #pro_center #main .comment .media .media-left a img {
    width: 100%;
    height: 100%;
}

#views .containers #pro_center #main .comment .media .media-body h4 {
    width: 100%;
    color: #59b3dc;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
}

#views .containers #pro_center #main .comment .media .media-body h4 span {
    float: right;
    color: #999999;
}

#views .containers #pro_center #main .comment .media .media-body div {
    background-color: #fbfbfb;
    border: 1px solid #eee;
    border-radius: 2px;
    line-height: 18px;
    font-size: 12px;
    padding: 5px;
}

#views .containers #pro_center #main .comment .media .media-body div p {
    margin: 0;
}

#views .containers #pro_center #main .comment .media .media-body div p:first-child {
    color: #59b3dc;
}

#views .containers #pro_center #pages {
    width: 100%;
    height: 54px;
    background-color: #f2f2f2;
    position: relative;
}

#views .containers #pro_center #pages>p {
    width: 100%;
    background-color: #ddd;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

#views .containers #pro_center .path {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
    border-bottom: 1px solid #ddd;
    padding: 7px;
}

#views .containers #pro_center p.empty {
    padding: 12px;
    background-color: #f6f6f6;
}

#views .footer {
    width: 100%;
    background-color: #f6f6f6;
}

#views .footer .footertop a {
    width: 33.33%;
    display: block;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 16px;
    font-weight: 700;
}

#views .footer .footertop a img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-top: -4px;
}

#views .footer .footertop a:hover {
    text-decoration: none;
    color: #666;
}

#views .footer .footertop a:last-child {
    border-right: none;
}

#views .footer .footercenter {
    border-top: 1px solid #ccc;
    padding: 20px;
    height: 60px;
    text-align: center;
    margin-bottom: 10px;
}

#views .footer .footercenter a:nth-of-type(1) {
    color: red;
}

#views .footer .footercenter a:nth-of-type(2) {
    color: #000;
}

#views .other {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#views .other a {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
}

#views .other a:hover {
    text-decoration: none;
}

#views .other .comment {
    float: left;
    width: 35%;
    flex: 1;
    border: 0;
}

#views .other .comment a {
    background-color: #fff;
    color: #666;
    font-size: 12px;
    position: relative;
}

#views .other .comment a i {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#views .other .comment a span {
    display: block;
    width: 100%;
    line-height: 72px;
}

#views .other .purchase {
    float: left;
    width: 65%;
}

#views .other .purchase a {
    background-color: #ff9000;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
}

#views .other .purchase a:hover {
    color: #fff !important;
}

#views .other .purchase a i {
    margin-right: 3px;
}

.supply #disstorck {
    width: 160px;
    border: 1px solid hsl(0, 0%, 90%);
    margin: 0 auto;
    padding: 0px 10px;
    box-shadow: 1px 1px 4px 0px #ccc, -1px -1px 4px 0px #ccc;
}

.supply #disstorck li {
    height: 26px;
    line-height: 26px;
    border-bottom: 1px dashed #ccc;
}

.supply #disstorck li a {
    padding: 0 20px;
    display: block;
}

.supply #disstorck li a span {
    display: block;
    text-align: left;
}

.supply #disstorck li a:hover {
    text-decoration: none;
}

.supply #disstorck li a strong {
    float: right;
    color: #ff9000;
}