* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none !important;
}
a:hover {
  color: #000;
}
ul,
ol,
li {
  list-style: none;
}
body {
  font-family: "Microsoft YaHei";
  background-color: #fff;
}
