.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-group {
  padding: 0px 6px;
  margin-top: 10px;
}
.panel-title > a:nth-of-type(1) {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
a.collapse-arrow {
  text-decoration: none;
  color: #ccc;
}
.panel-body {
  padding: 0;
}
.panel-body .row a {
  height: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
