body,
html {
  overflow-x: hidden;
}
.view .headerlist {
  padding: 0 20px;
  height: 44px;
  background-color: #ff841d;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.view .headerlist .back {
  line-height: 44px;
  font-weight: normal;
}
.view .headerlist span {
  font-weight: bold;
}
.view .headerlist .home img {
  width: 24px;
}
.view .detail {
  padding: 0 10px;
  line-height: 30px;
}
.view .detail h4 {
  padding: 0;
  margin: 0;
  line-height: 30px;
  margin-top: 10px;
  font-weight: bold;
}
.view .detail .price span {
  color: #ff0000;
  font-weight: bold;
}
.view .detail .time {
  font-size: 12px;
  color: #ccc;
}
.view .detail .media {
  margin-top: 0px;
  padding: 0;
}
.view .detail .media img {
  width: 120px;
  height: 120px;
}
.view .detail .big-img {
  margin: 30px 0px;
}
.view .detail .big-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.view .add-shopcar ul:nth-of-type(1) {
  background: #f2f6ff;
  padding: 5px 0 30px 0;
  list-style: none;
}
.view .add-shopcar ul:nth-of-type(1) li {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 14px;
}
.view .add-shopcar ul:nth-of-type(1) li:nth-of-type(2) {
  border: 1px solid skyblue;
  position: relative;
  width: 25%;
}
.view .add-shopcar ul:nth-of-type(1) li:nth-of-type(2) .dis {
  position: absolute;
  left: 0px;
  top: 0px;
  border-right: 1px solid skyblue;
  width: 25px;
}
.view .add-shopcar ul:nth-of-type(1) li:nth-of-type(2) .ad {
  position: absolute;
  right: 0px;
  top: 0px;
  border-left: 1px solid skyblue;
  width: 25px;
}
.view .add-shopcar ul:nth-of-type(1) li:nth-of-type(3) {
  margin-left: 10px;
  width: 30%;
}
.view .add-shopcar ul:nth-of-type(1) li:nth-of-type(4) {
  text-align: right;
  color: red;
}
.view .add-shopcar ul:nth-of-type(2) li {
  width: 100%;
}
