.shade {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background-color: rgba(241, 236, 236, 0.5);
}
.shade img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.small-shade {
  height: 64px;
  position: relative;
}
.small-shade img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar {
  height: 50px;
  line-height: 50px;
  background-color: #ff841d;
  z-index: 2;
  font-size: 20px;
  color: white;
  width: 100%;
}
.navbar .glyphicon {
  color: #fff;
}
.navbar img {
  width: 34px;
  height: 34px;
  margin-top: 10px;
}
.navbar a:focus {
  text-decoration: none;
}
.shopping-mall-navs {
  margin-top: -20px;
}
.shopping-mall-navs .sm-navs {
  background-color: #efefef;
  border: 1px solid #ccc;
  padding: 10px;
}
.shopping-mall-navs .sm-main {
  padding: 10px;
}
.shopping-mall-navs .sm-main .col-xs-4 {
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}
.shopping-mall-navs .sm-main .col-xs-4 div {
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}
.shopping-mall-navs .sm-main .col-xs-4 div a {
  display: block;
}
.footer {
  background-color: #efefef;
  width: 100%;
}
.footer .checkin .row div {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #c5c5c5;
}
.footer .checkin .row div a {
  color: #000;
}
.footer .bbottom {
  box-sizing: border-box;
  padding: 20px 50px;
  text-align: center;
}
.footer .bbottom .app a {
  color: #f00;
}
.footer .bbottom .app .grey {
  color: #676767;
}
.mmbuy-download {
  position: fixed;
  right: 0;
  bottom: 30px;
}
.mmbuy-download img {
  width: 60px;
}
