
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500430060171'); /* IE9*/
  src: url('iconfont.eot?t=1500430060171#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500430060171') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500430060171') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500430060171#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\e6c9"; }

.icon-message:before { content: "\e646"; }

.icon-bianjitubiao-copy:before { content: "\e6d4"; }

.icon-jiantou2:before { content: "\e602"; }

