* {
  padding: 0;
  margin: 0;
}
body {
  background: #f7f7f7;
}
.up {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.up span {
  margin-left: 8px;
  font-size: 22px;
  line-height: 40px;
  color: #fff;
}
header {
  color: #fff;
  background: #e4393c;
  position: relative;
}
header h2 {
  margin: 0;
  padding: 10px 50px;
  width: 100%;
  font-size: 22px;
  text-align: center;
}
header .prev {
  position: absolute;
  left: 0;
  font-size: 22px;
  text-align: center;
}
header .prev a {
  width: 50px;
  height: 44px;
  display: block;
  box-sizing: border-box;
  padding-top: 8px;
}
header .prev a span {
  color: #fff;
}
header .download {
  position: absolute;
  right: 0;
  top: 0;
}
header .download a {
  width: 50px;
  height: 44px;
  display: block;
}
header .download a img {
  width: 34px;
  margin-top: 7px;
}
.navs {
  background-color: #fff;
  position: relative;
  width: 100%;
}
.navs .active {
  color: #e4393c;
  border-bottom: 2px solid #e4393c;
}
.navs a {
  color: #000512;
  margin: 0 10px;
  padding-bottom: 2px;
  text-decoration: none;
}
.navs .navs_box {
  width: 100%;
  height: 38px;
  position: relative;
  overflow: hidden;
}
.navs .navs_box .navs_list {
  position: absolute;
  margin-bottom: 0;
  height: 38px;
  width: 750px;
  list-style: none;
}
.navs .navs_box .navs_list li {
  float: left;
  padding: 10px 0;
}
.navs .nav-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px 0;
  font-size: 22px;
  background: #f7f7f7;
}
.adv {
  margin-top: 10px;
}
.adv a img {
  width: 100%;
}
.media {
  position: relative;
  background: #fff;
  padding: 10px 0;
  margin-bottom: 15px;
}
.media .media_img {
  display: inline-block;
  width: 130px;
  height: 130px;
}
.media .media_img img {
  width: 100%;
}
.media .media-body .media-heading {
  color: #464646;
}
.media .media-body .info p span {
  color: red;
  font-size: 16px;
}
.media .media-body .info p span em {
  font-size: 12px;
}
.media .media-body .info .bar {
  margin-bottom: 14px;
  font-size: 12px;
  color: #ffb7b7;
  width: 100%;
}
.media .media-body .info .bar i {
  position: relative;
  border-radius: 10px;
  display: inline-block;
  width: 30%;
  background: #ffb7b7;
}
.media .media-body .info .bar i em {
  color: #fff;
}
.media .media-body .info .bar i span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #fc353a;
  border-radius: 10px;
  text-align: center;
}
.media .media-body .info .click_quan {
  padding-top: 15px;
}
.media .media-body .info .click_quan a {
  color: #ffb7b7;
  font-size: 12px;
  padding: 5px;
  border: 1px dashed #ffb7b7;
}
.media .media-body .info .btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #ff5e5d;
  padding: 3px 6px;
}
.media .media-body .info .btn a {
  font-size: 14px;
  color: #fff;
}
footer {
  background: #efefef;
}
footer .login ul {
  list-style: none;
}
footer .login ul li {
  padding: 5px 0;
  border: 1px solid #dddddd;
  float: left;
  width: 30%;
  text-align: center;
}
footer .login ul li a {
  color: #474747;
  text-decoration: none;
}
footer .login ul li:last-child {
  width: 40%;
}
footer .app {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 10px;
}
footer .app p {
  margin: 0;
}
