@import "./Compare-price-search/bass.less";
body{
    background: #f2f2f2;
}
// 顶部
.head_logo {
    height: 50px;
    padding-left: 10px;
    background: #ff841d;
    .logo {
        width: 80%;
        height: 100%;
        padding: 12px;
        a {
            height: 100%;
            display: block;
            img {
                height: 100%;
            }
        }
    }
    .appdown {
        height: 100%;
        padding: 7px;
        a {
            height: 100%;
            display: block;
            img {
                height: 100%;
            }
        }
    }
}

// 搜索框
.seek {
    // width: 100%;
    background: #fff;
    font-size: 16px;
    height: 50px;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    .searcText {
        display: block;
        input {
            border: none;
            width: 90%;
            height: 30px;
            line-height: 30px;
            padding-left: 5%;
            border-radius: 15px;
            background: #f1f1f1;
            cursor: auto;
            outline: none;
        }
    }
    .searcBtn>input {
        height: 30px;
        line-height: 30px;
        background: #ff841d;
        border: none;
        border-radius: 15px;
        width: 63px;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #fff;
    }
}

//分类
.Compare-price {
    overflow: hidden;
    background-color: #ebebeb;
    #accordion {
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        .panel {
            border: none;
            border-bottom: 1px solid #ccc;
            margin-top: 0; // 子标题
            .panel-heading {
                background-color: #ebebeb;
                padding: 0;
                margin: 0;
                h4 {
                    // height: 40px;
                    a {
                        color: #333;
                        font: 900 16px "微软雅黑";
                        padding-left: 10px;
                        height: 40px;
                        line-height: 40px;
                        display: block;
                        &:focus {
                            text-decoration: none;
                        }
                        span {
                            display: block;
                            height: 40px;
                            line-height: 40px;
                            padding-right: 10px;
                            float: right;
                            color: #929292;
                        }
                    }
                }
            } // 子标题下的分类
            .clasify_title {
                .panel-body {
                    background: #f9f9f9;
                    padding: 0;
                    div {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                        border-right: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        a {
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}

//页脚样式
footer {
    margin-top: 20px;
    background: #efefef;
    .login {
        ul {
            list-style: none;
            padding: 0;
            li {
                padding: 5px 0;
                border: 1px solid #dddddd;
                float: left;
                width: 30%;
                text-align: center;
                a {
                    color: #474747;
                    text-decoration: none;
                }
            }
            li:last-child {
                width: 40%;
            }
        }
    }
    .app {
        text-align: center;
        margin-top: 15px;
        padding-bottom: 10px;
        p {
            margin: 0;
        }
    }
}