.container-fluid {
  padding: 0;
}
.container-fluid .ht-header {
  width: 100%;
  padding: 0 50px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  background-color: #ff841d;
  position: relative;
}
.container-fluid .ht-header .back {
  display: block;
  width: 50px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
}
.container-fluid .ht-header .back i {
  color: #fff;
  width: 100%;
  height: 100%;
}
.container-fluid .ht-header h2 {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.container-fluid .ht-header .app {
  display: block;
  width: 50px;
  height: 44px;
  margin-top: 5px;
  background-image: url('../images/header_app.png');
  background-size: 34px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.container-fluid .ht-content .media {
  padding: 14px 8px;
}
.container-fluid .ht-content .media .media-left a img {
  width: 100px;
  height: 100px;
}
.container-fluid .ht-content .media .media-body {
  position: relative;
}
.container-fluid .ht-content .media .media-body h4 {
  font-size: 15px;
}
.container-fluid .ht-content .media .media-body h4 span {
  color: #ff6c00;
}
.container-fluid .ht-content .media .mall {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #a1a1a1;
}
.container-fluid .ht-content .media .comment {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #a1a1a1;
}
.container-fluid .ht-content .media .comment .glyphicon {
  margin-right: 5px;
}
.container-fluid .ht-page {
  background-color: #f2f2f2;
  padding: 20px 0 20px 0;
  margin-top: 10px;
}
.container-fluid .ht-page nav ul {
  margin: 0;
}
.container-fluid .ht-page nav ul li a {
  border-radius: 0;
  background-color: #e6e6e6;
  color: #000;
  box-shadow: 0 0 1px #666;
}
.container-fluid .ht-page nav ul li .prev_a {
  margin-left: 15px;
}
.container-fluid .ht-page nav ul li .next_a {
  margin-right: 15px;
}
.container-fluid .ht-page nav ul select {
  width: 130px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 0;
}
.container-fluid .ht-jump {
  height: 36px;
  line-height: 36px;
  background-color: #ebebeb;
  padding-left: 5px;
}
.container-fluid .ht-jump a {
  color: #000;
}
.container-fluid .footer {
  background-color: #f2f2f2;
}
.container-fluid .footer .footer-top {
  padding-top: 25px;
}
.container-fluid .footer .footer-top .footer-nav {
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #ccc;
}
.container-fluid .footer .footer-top .footer-nav a {
  color: #000;
}
.container-fluid .footer .footer-top .footer-nav a img {
  height: 15px;
  vertical-align: baseline;
}
.container-fluid .footer .footer-botton {
  text-align: center;
  padding: 20px 0;
}
.container-fluid .footer .footer-botton p {
  margin: 0;
}
.container-fluid .footer .footer-botton p .phone-app {
  color: red;
}
.container-fluid .footer .footer-botton p .m-com,
.container-fluid .footer .footer-botton p .manman {
  color: #000;
}
.container-fluid .footer-app {
  position: fixed;
  bottom: 30px;
  right: 0;
  z-index: 999;
}
.container-fluid .footer-app a img {
  width: 60px;
}
