<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>慢慢买_比价搜索-产品列表</title>
    <link rel="stylesheet" href="/views/public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/views/public/css/category/category-list.css">
    <link rel="stylesheet" href="/views/font/iconfont.css">
</head>

<body id="dingbu">
    <div class="prolist">
        <!--logo模块-->
        <div class="top">
            <!--顶部logo区域-->
            <div class="top">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="#"><img src="/views/public/images/header_logo.png" alt=""></a>
                    </div>
                    <div class="pull-right">
                        <a href=""><img src="/views/public/images/header_app.png" alt=""></a>
                    </div>
                </nav>
            </div>
        </div>
        <!--搜索模块-->
        <div class="search">
            <input type="text" placeholder="请输入你想比价的商品">
            <button>搜索</button>
        </div>
        <!--tab栏的切换-->
        <div class="prolist-tab">
            
        </div>
            <!--分页-->
            <div class="pages">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <button class="up-page">上一页</button>
                                <!--<input type="button"  class="up-page" value="上一页">-->
                            </td>
                            <td>
                                <span id="currentTotal">1/1</span>
                            </td>
                            <td>
                                <!--<input type="button"  class="down-page" value="上一页">-->
                                <button class="down-page">下一页</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--侧边栏页面-->
            <div class="sx-aside">
                <div class="title">
                    <h1>筛选<i class="glyphicon glyphicon-remove" id="aside_close"></i></h1>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="rowhead">
                            <span>品牌</span>
                            <span>全部品牌</span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                        <div class="rowbody">
                            <ul>
                                <li><a href="javascript:;" class="bgc_orange">全部品牌</a></li>
                                <li><a href="javascript:;">苹果</a></li>
                                <li><a href="javascript:;">荣耀</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">魅族</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rowhead">
                            <span>品牌</span>
                            <span>全部品牌</span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                        <div class="rowbody">
                            <ul>
                                <li><a href="javascript:;" class="bgc_orange">全部品牌</a></li>
                                <li><a href="javascript:;">苹果</a></li>
                                <li><a href="javascript:;">荣耀</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">魅族</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rowhead">
                            <span>品牌</span>
                            <span>全部品牌</span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                        <div class="rowbody">
                            <ul>
                                <li><a href="javascript:;" class="bgc_orange">全部品牌</a></li>
                                <li><a href="javascript:;">苹果</a></li>
                                <li><a href="javascript:;">荣耀</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">魅族</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rowhead">
                            <span>品牌</span>
                            <span>全部品牌</span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                        <div class="rowbody">
                            <ul>
                                <li><a href="javascript:;" class="bgc_orange">全部品牌</a></li>
                                <li><a href="javascript:;">苹果</a></li>
                                <li><a href="javascript:;">荣耀</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">魅族</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rowhead">
                            <span>品牌</span>
                            <span>全部品牌</span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                        <div class="rowbody">
                            <ul>
                                <li><a href="javascript:;" class="bgc_orange">全部品牌</a></li>
                                <li><a href="javascript:;">苹果</a></li>
                                <li><a href="javascript:;">荣耀</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">魅族</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rowhead">
                            <span>品牌</span>
                            <span>全部品牌</span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                        <div class="rowbody">
                            <ul>
                                <li><a href="javascript:;" class="bgc_orange">全部品牌</a></li>
                                <li><a href="javascript:;">苹果</a></li>
                                <li><a href="javascript:;">荣耀</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">魅族</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">小米</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>
                                <li><a href="javascript:;">华为</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!--footer模块-->
             <?php include '/views/common/footer.html' ?>
    </div>

        </div>
        <!--遮罩层-->
        <div class="master"></div>
</body>

</html>
<?php include "/views/common/script.html" ?>
<!--<script src="/views/public/js/category/Iconfont/iconfont.js"></script>-->
<script id="product_tmp" type="text/html">
    <ul class="clearfix">
        <li><a href="/">首页</a></li>
        <li>&gt;</li>
        <li><a href="/category">全部分类</a></li>
        <li>&gt;</li>
        <li id="product"><a href="javascript:;">{{cpname}}</a></li>
        <li id="shuaixuan">筛选</li>
    </ul>
</script>

<script id="category_tmp" type="text/html">
    <div class="cpzs-nav">
        <ul class="clearfix">
            <li><a href="/">首页</a></li>
            <li>&gt;</li>
            <li><a href="/category">全部分类</a></li>
            <li>&gt;</li>
            <li id="product"><a href="javascript:;">{{cpname}}</a></li>
            <li id="shuaixuan">筛选</li>
        </ul>
    </div>
    <div class="tab-content">
        <ul>
            {{each result as v i}}
            <li>
                <a href="/category/category_details?productid={{v.productId}}&cpname={{cpname}}" class="clearfix">
                    <div class="pic pull-left">{{#v.productImg}}</div>
                    <div class="pull-right content">
                        <div class="text-ms">{{v.productName}}</div>
                        <span>{{v.productPrice}}</span>
                        <div class="other">
                            <i class="pull-left">{{v.productQuote}}</i>
                            <b class="pull-right">{{v.productCom}}</b>
                        </div>

                    </div>
                </a>

            </li>
            {{/each}}
        </ul>
    </div>
</script>
<script>
    require(["js/category/prolist"])

</script>