img {
  width: 100%;
}
a {
  display: block;
}
a:hover,
a:focus {
  text-decoration: none;
}
.Compare-price {
  overflow: hidden;
  background-color: #ebebeb;
}
.Compare-price #accordion {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.Compare-price #accordion .panel {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 0;
}
.Compare-price #accordion .panel .panel-heading {
  background-color: #ebebeb;
  padding: 0;
  margin: 0;
}
.Compare-price #accordion .panel .panel-heading h4 a {
  color: #333;
  font: 900 16px "微软雅黑";
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  display: block;
}
.Compare-price #accordion .panel .panel-heading h4 a:focus {
  text-decoration: none;
}
.Compare-price #accordion .panel .panel-heading h4 a span {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  float: right;
  color: #929292;
}
.Compare-price #accordion .panel .clasify_title .panel-body {
  background: #f9f9f9;
  padding: 0;
}
.Compare-price #accordion .panel .clasify_title .panel-body div {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.Compare-price #accordion .panel .clasify_title .panel-body div a {
  color: #333;
}
