  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>慢慢买</title>
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/brand/getbrandtitle.css">

</head>

<body>
    <header>
        <h1>
            <a href="javascript:;"></a>
            <span></span>
        </h1>
        <div class="zyzsreach">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入你想比价的商品" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">搜索</span>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="nav">
            <a href="javascript:;">首页</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="javascript:;">品牌大全</a>
        </div>
        <div class="box">
            <h3 class="title">热门品牌排行 </h3>
            <div class="content">
                <ul>

                </ul>
            </div>
        </div>

    </div>
  
    <script src="../public/assets/jquery/jquery.min.js"></script>
    <script src="../public/assets/artTemplate/template.js"></script>

    <script type="text/template" id="tpl_brand">
        {{each result as v i}}
        <li>
            <a id="brand_Title" brandTitle="{{v.brandTitleId}}" href="javascript:;">{{v.brandTitle}}</a>
            <span class="glyphicon glyphicon-menu-down"></span>
        </li>
        {{/each}}
    </script>
     <script src="../public/js/brand/getbrandtitle.js"></script>
</body>

</html>