<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<link rel="stylesheet" href="/views/public/assets/bootstrap/css/bootstrap.css">-->

    <?php include '/views/common/css.html' ?>
    <link rel="stylesheet" href="/views/public/css/saveMoney.css">

</head>

<body>
    <div class="view">
        <div class="save_view">
            <!--1.头部-->
            <div class="save_header">
                <i class="glyphicon glyphicon-menu-left"></i>
                <h4>省钱控 - 最新优惠</h4>
                <a href="#"><img src="/views/public/image/init-imgs/header_app.png" alt=""></a>
            </div>
            <!--2.ajax请求的内容-->
            <div class="save_menu">
                <ul id="save_menu_ul">-->
                    <!--模版-->
                     

                </ul>
            </div>
            
            <!--翻页-->
            <?php include '/views/common/paging.html' ?>
            <!--3.底部-->
            <div class="save_footed">
                <div class="index_save">首页 > 省钱惠</div>
                <!--空白区域-->
                <div class="whileLine"></div>
                <div class="footer">
                    <div class="tool">
                        <ul class="clearfix">
                            <li>登陆</li>
                            <li>注册</li>
                            <li><i class="glyphicon glyphicon-arrow-up"></i>返回顶部</li>
                        </ul>
                        <div class="mmurl">
                            <span>手机APP下载</span> 慢慢买手机版--掌上比价平台
                            <p>m.manmanbuy.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--4.右边固定的小图标-->
            <div class="save_fixed">
                <a href=""><img src="https://img.alicdn.com/imgextra/i2/379516416/TB2WepTeb1J.eBjSszcXXbFzVXa_!!379516416.png" ></a>
            </div>
        </div>
    </div>



    </div>

    </div>
    <?php include '/views/common/script.html'?>

</body>


<script id="save_menu_tpl" type="text/template">
    {{each result as v i}}
    <li data-id="{{v.productId}}" >
        <a href="/views/page/produceDetail?productId={{v.productId}}" class="save_a" >
        <div class="media menu_media">
            <div class="media-left menu_left">
                    {{#v.productImgSm}}
                </div>
                <div class="media-body menu_body clearfix">
                    <h4 class="media-heading">{{v.productName}}<span>{{v.productPinkage}}</span></h4>
                    <span>{{v.productFrom}}&nbsp; | &nbsp;{{v.productTime}}</span>
                    <span class="menu_em pull-right"><img src="/views/public/image/init-imgs/dx.png" >&nbsp; {{v.productComCount}}</span>
                </div>
                </a>    
            </div>
        </a>
    </li>
    {{/each}}
</script>
<script>
    require(['js/saveMoney']);
</script>

</html>